#osx stuff
.DS_Store
._.DS_Store

#general java
*.class
*.war
*.jar

# eclipse stuffs
.settings/*
.classpath
.project

# IntelliJ
.idea/
*.iml
*.iws

#maven stuffs
target/

#testing stuffs
classpath
epmd.out

